[submodule "third_party/dex1_1_service"]
	path = third_party/dex1_1_service
	url = https://github.com/unitreerobotics/dex1_1_service.git
[submodule "third_party/mujoco_menagerie"]
	path = third_party/mujoco_menagerie
	url = https://github.com/google-deepmind/mujoco_menagerie.git
[submodule "third_party/unitree_sdk2_python"]
	path = third_party/unitree_sdk2_python
	url = https://github.com/unitreerobotics/unitree_sdk2_python.git
